<div class="demo-runner js-demo-runner" data-steps="5">
</div>

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png " alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Mi restaurant</h1>
      <p>Comida casera a domicilio.</p>
    </div>
  </div>
</div>

<div class="order-v2 order-v2--open" data-order-step="2 3 4 5">
  <div class="order-toggle">
    <a href="#" class="order-toggle__show js-order-toggle"><i class="fa fa-arrow-down"></i> Mostrar orden</a>
    <a href="#" class="order-toggle__hide js-order-toggle"><i class="fa fa-arrow-up"></i> Ocultar</a>
  </div>

  <div class="order">

    <div class="order-controls" data-order-step="">
      <a href="#" data-order-step="7"><i class="fa fa-arrow-left"></i> Regresar al pedido</a>
      <a href="#" data-order-step="8"><i class="fa fa-arrow-left"></i> Regresar a los datos personales</a>
    </div>

    <div data-order-step="2 3 4 5">
      <div class="order__selection-by-day" data-order-step="2 3">
        <p class="order__message">Tu pedido</p>

        <h1>Hoy, Domingo 13 de marzo</h1>

        <table>
          <tbody>
            <tr>
              <td>
                <p>Ensalada de la casa</p>
                <span>
                  <button><span class="fa fa-minus"></span></button>
                  <span style="display: inline-block; text-align: center; min-width: 2em">1</span>
                  <button><span class="fa fa-plus"></span></button>
                </span>
                <span class="pull-right">$60.00</span>
              </td>
            </tr>
            <tr>
              <td>
                <p>Pallo poblano</p>
                <span>
                  <button><span class="fa fa-minus"></span></button>
                  <span style="display: inline-block; text-align: center; min-width: 2em">1</span>
                  <button><span class="fa fa-plus"></span></button>
                </span>
                <span class="pull-right">$60.00</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="order__selection-by-day" data-order-step="3">
        <h1>Lunes 14 de marzo</h1>

        <table>
          <tbody>
            <tr>
              <td>
                <p>Ensalada de la casa</p>
                <span>
                  <button><span class="fa fa-minus"></span></button>
                  <span style="display: inline-block; text-align: center; min-width: 2em">1</span>
                  <button><span class="fa fa-plus"></span></button>
                </span>
                <div class="pull-right">$60.00</div>
              </td>
            </tr>
            <tr>
              <td>
                <p>Pallo poblano</p>
                <span>
                  <button><span class="fa fa-minus"></span></button>
                  <span style="display: inline-block; text-align: center; min-width: 2em">1</span>
                  <button><span class="fa fa-plus"></span></button>
                </span>
                <div class="pull-right">$60.00</div>
              </td>
            </tr>
            <tr>
              <td>
                <p>Gelatina de fresa</p>
                <span>
                  <button><span class="fa fa-minus"></span></button>
                  <span style="display: inline-block; text-align: center; min-width: 2em">1</span>
                  <button><span class="fa fa-plus"></span></button>
                </span>
                <div class="pull-right">$60.00</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="order__message" data-order-step="2">Total: $120.00</p>
      <p class="order__message" data-order-step="3">Total: $300.00</p>
      <button class="order__button" data-order-step="2 3">Confirmar orden.</button>
    </div>

    <div class="" data-order-step="4">
      <p class="order__message">¿A quien llevamos la comida?</p>

      <p>
      <label for="text_field">Tu nombre</label>
      <input type="text" id="text_field">
      </p>

      <p>
      <label for="text_field">Tu correo electrónico</label>
      <input type="text" id="text_field">
      </p>

      <p>
      <label for="text_field">Un teléfono de casa o celular</label>
      <input type="text" id="text_field">
      </p>
      <button class="order__button">Confirmar datos personales</button>
    </div>

    <div class="" data-order-step="5">
      <p class="order__message">¿A donde llevemos tu comida?</p>

      <p>
      <label for="text_field">Calle y Número</label>
      <input type="text" id="text_field">
      </p>
      <p>
      <label for="text_field">Colonia</label>
      <input type="text" id="text_field">
      </p>
      <p>
      <label for="text_field">Municipio</label>
      <input type="text" id="text_field">
      </p>
      <p>
      <label for="text_field">Codigo postal</label>
      <input type="text" id="text_field">
      </p>

      <p class="order__hint text-center">Por ahora solo hacemos entregas la ciudad de Monterrey, Nuevo León, México</p>
      <p class="order__hint text-center">Las entregas son todos los días de 1pm a 2pm.</p>
      <p class="order__hint text-center">El pago de tu orden lo podrás hacer en efectivo el día de la entrega.</p>

      <button class="order__button">Confirmar y envíar pedido.</button>
    </div>
  </div>
</div>


<div class="l-page-with-central-menu" data-order-step="1 2 3 4 5 6 7 8">
  <div class="menu menu--regular-central-menu">
    <p class="menu__message">Este es nuestro menú</p>
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="is-active tab-link">Hoy</a>
      <div class="tab-content">
        <div data-order-step="1">
          <%= partial "flatten_menu", locals: { selectable: true } %>
        </div>
        <div data-order-step="2 3 4 5">
          <%= partial "flatten_menu", locals: { selectable: true, selected: true } %>
        </div>
      </div>
      </li>
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Lunes 14 de marzo</a>
      <div class="tab-content">
        <div data-order-step="1">
          <%= partial "flatten_menu", locals: { selectable: true } %>
        </div>
        <div data-order-step="2 3 4 5">
          <%= partial "flatten_menu", locals: { selectable: true, selected: true } %>
        </div>
      </div>
      </li>
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Martes 15 de marzo</a>
      <div class="tab-content">
        <div data-order-step="1">
          <%= partial "flatten_menu", locals: { selectable: true } %>
        </div>
        <div data-order-step="2 3 4 5">
          <%= partial "flatten_menu", locals: { selectable: true, selected: true } %>
        </div>
      </div>
      </li>
      <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Miercoles 16 de marzo</a>
      <div class="tab-content">
        <div data-order-step="1">
          <%= partial "flatten_menu", locals: { selectable: true } %>
        </div>
        <div data-order-step="2 3 4 5">
          <%= partial "flatten_menu", locals: { selectable: true, selected: true } %>
        </div>
      </div>
      </li>
    </ul>
  </div>
</div>
